<main>
  <div class = "contailner">
    <div class = "row">
      <div class = "col-sm-12 col-md-8 col-lg-5 p-5 px-sm-0 mx-auto">
        <h2><i class="fas fa-check"></i>How to Use</h2>
        <li>漫画のタイトルとレビュー感想などを入力してください。</li>
        <li>出来る限り漫画家と出版社を選んで欲しいのですが、分からない場合は空欄で構いません。</li>
        <li>現在、漫画家は付け足している最中ですので、もし足りない人が居た場合とりあえず「その他」を選択してください。</li>
        <li>自身が投稿したものは編集、削除が可能です。</li>
        <li>同様に、自身のユーザーについても編集可能です。</li>
        <!--<li></li>-->


        <h5>運営の目的</h5>
        <li>このWebサイトは面白い漫画を勧めたいという気持ちで運営しています。</li>
        <li>このサイト運営者はプログラミング学習のためにこのサイトを作成しました。</li>
        <li>面白い漫画の感想、絵柄、登場人物の多さなど、どこをおすすめしたいのか教えて下さい。</li>


        <h5>注意事項</h5>
        <li>基本的にネタバレ禁止です。</li>
        <li>マイナス評価をしてもらうことは可能ですが、誹謗中傷はダメです。</li>
        <li>今のところ練習用のサイトなので、予告なく消してしまうこともあります。</li>

      </div>
    </div>
  </div>


</main>