/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Humour-Original';
  src: asset-url('/assets/Humour-Original.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// $teal-800: #00695C;
$teal-900: #004d40;

.navbar {
  background-color: $teal-900;
}


p, a, h1, h2, h5, thead, tbody, strong, form {
  font-family: 'Humour-Original';
}


div {
  display : block;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.btn-block {
  display: block;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

// li {
//   list-style: none;
// }







@import "bootstrap";
// @import 'custom';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'select2';
@import 'select2-bootstrap';
